webserver/backend/.eggs/
webserver/backend/backend.egg-info/
webserver/backend/backend/__pycache__/
webserver/backend/backend/controller/__pycache__/
webserver/backend/build/
webserver/frontend/minipupper/dist/
webserver/frontend/minipupper/.angular
joystick_sim/joystick_sim.egg-info
joystick_sim/joystick_sim/__pycache__
joystick_sim/joystick_sim/tests/__pycache__
joystick_sim/.eggs
joystick_sim/build/
