.settings-card {
	max-width: 300px;
	margin: 2em auto;
	padding: 16px;
}

.settings-card h2 {
	color: #333;
	margin-bottom: 16px;
}

.settings-card mat-form-field {
	margin-bottom: 16px;
	width: 100%;
}

.settings-card button {
	margin-top: 8px;
}

.separator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.button-group {
  display: flex;
  justify-content: space-around;
}

.button-group button {
  margin: 5px;
}
